
/*print page only*/
body {
	font-family: Arial, Helvetica, sans-serif; font-size: 75%;
}
 h1 {
	font-size: 130%; color: #000000;
}
 h2 { 
	font-size: 120%; color: #000000;
}
 h3 { 
	font-size: 110%;   color: #000000;
}
 h4 {
	font-size: 120%; color: #000000;
}
 p, table, ul {
	font-size: 12px; color: #000000; text-align:left;
}
.pageTitle {
	font-size: 150%; color: #000000; font-weight: bold;
}
.pageSubTitle {
	font-size: 130%; color: #000000; font-weight: bold;
}
.accent1 {
	color: #000000;
}
.accent1Bold {
	color: #000000;
	font-weight:bold
}
.accent2 {
	color: #000000;
}
.accent3 {
	color: #000000;
}
.reverse {
	color: #000000;
}
a {
	color: #000000; text-decoration: none;
}
.displayNone {
	display: none;
}
.clearBoth {
	clear: both;
}
.print-hidden{
	display: none;
}
.print-show{
	display: block;
}
.eventDetailName {
/*name of event detail on left*/
	width: 125px; float:left;  padding-right: 5px; font-weight: bold; 
	padding: 2px; clear:left; 
}
.eventDetailInfo {
/*detailed information on left hand side opposite the name*/
	width: 300px; padding: 2px 0px 2px 0px;  float:right;
}
.CaptaviCatalogData > div > ul > li{
  display: block;
}